@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  background: #f8f8f8;
  font-family: Roboto, 'sans-serif';
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0px;
  color: #262626;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15px;
}

.btn {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.25px;
  font-weight: 500;
  padding: 9px 12px;
  border-radius: 8px;
}

.btn-primary {
  background-color: #321BDE;
  color: white;
}

.container {
  border: 1px solid #E1E1E1;
  border-radius: 16px;
  margin-top: 16px;
}

input {
  width: 250px;
  height: 36px;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
  padding: 8px 12px;
  font-family: Roboto;
}

.body-2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125em;
  letter-spacing: 0.25px;
  color: #262626;
}

.caption {
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0.4px;
  color: #505050;
}