@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-mine-shaft-900: #050505;
  --color-mine-shaft-800: #1C1C1C;
  --color-mine-shaft-700: #262626;
  --color-mine-shaft-400: #505050;
  --color-mine-shaft-100: #757575;
  --color-mine-shaft-80: #949494;
  --color-mine-shaft-60: #B1B1B1;
  --color-mine-shaft-40: #C9C9C9;
  --color-mine-shaft-30: #E1E1E1;
  --color-mine-shaft-10: #F8F8F8;

  --color-persian-blue-900: #060321;
  --color-persian-blue-800: #180D6E;
  --color-persian-blue-700: #271580;
  --color-persian-blue-400: #321BDE;
  --color-persian-blue-100: #5046E4;
  --color-persian-blue-80: #7E6FEA;
  --color-persian-blue-60: #9F94EF;
  --color-persian-blue-40: #BDB5F4;
  --color-persian-blue-30: #DAD6F9;
  --color-persian-blue-10: #F8F7FD;

  --color-alizarin-crimson-900: #330103;
  --color-alizarin-crimson-800: #450606;
  --color-alizarin-crimson-700: #75120D;
  --color-alizarin-crimson-400: #AD2213;
  --color-alizarin-crimson-100: #DE321B;
  --color-alizarin-crimson-80: #E4604A;
  --color-alizarin-crimson-60: #E98970;
  --color-alizarin-crimson-40: #EEAB91;
  --color-alizarin-crimson-30: #F4CAB6;
  --color-alizarin-crimson-10: #FAECE3;

  --color-deep-sea-900: #00120b;
  --color-deep-sea-800: #002F1E;
  --color-deep-sea-700: #004B30;
  --color-deep-sea-400: #006843;
  --color-deep-sea-100: #008858;
  --color-deep-sea-80: #309E77;
  --color-deep-sea-60: #5EB495;
  --color-deep-sea-40: #8ECAB4;
  --color-deep-sea-30: #C1E2D6;
  --color-deep-sea-10: #F5FAF8;
}

#app {
  background: #f8f8f8;
  font-family: Roboto, 'sans-serif';
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0px;
  color: #262626;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15px;
}

.btn {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.25px;
  font-weight: 500;
  padding: 9px 12px;
  border-radius: 8px;
}

.btn-primary {
  background-color: #321BDE;
  color: white;
}

.container {
  border: 1px solid #E1E1E1;
  border-radius: 16px;
  margin-top: 16px;
}

input {
  width: 250px;
  height: 36px;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
  font-family: Roboto;
}

.body-2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125em;
  letter-spacing: 0.25px;
  color: #262626;
}

.caption {
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0.4px;
  color: #505050;
}

.subtitle2 {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: 0.1px;
}

.text-red {
  color: #D3321B;
}